.contact-wrapper{
    border-bottom: 1px solid steelblue;
    padding: 300px 0;
}

.contact-wrapper h2{
    text-align: center;
    font-family: Yumincho;
    font-size: 40px;
    letter-spacing: 10px;
    color: black;
    text-shadow: 1px 2px 3px lightgray;
    transition-property: all;
    transition-duration: 300ms;
    transition-delay: 0ms;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

}

.contact-wrapper h2:hover{
    text-shadow: 4px 5px 6px lightgray;
}

.contact-wrapper ul{
    display: flex;
    justify-content: space-around;
}

.contact-wrapper li{
    margin-right: 10px;
    padding: 15px 120px;
    font-size: 25px;
    background-color: transparent;
    border-radius: 15px;
    transition: all;
    transition-duration: 320ms;
    transition-delay: 0;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

}

.fa-twitter{
    color: deepskyblue;
    border: 2px solid deepskyblue;
}

.fa-twitter:hover,.fa-facebook-f:hover,.fa-instagram:hover,.fa-youtube:hover,.fa-phone-volume:hover{
    transform: translateY(3px);
}

.fa-twitter:hover{
    color: white;
    background-color: deepskyblue;
}

.fa-facebook-f{
    color: #3b5998;
    border: 2px solid #3b5998;
}

.fa-facebook-f:hover{
    color: white;
    background-color: #3b5998;
}

.fa-instagram{
    color: #f34955;
    border: 2px solid #f34955;
}

.fa-instagram:hover{
    color: white;
    background-color: #f34955;
}

.fa-youtube{
    color: red;
    border: 2px solid red;
}

.fa-youtube:hover{
    color: white;
    background-color: red;
}

.fa-phone-volume{
    color: rgb(8, 201, 105);
    border: 2px solid rgb(8, 201, 105);
}

.fa-phone-volume:hover{
    color: white;
    background-color: rgb(8, 201, 105);
}

/* ここからバブル */
.bubble_1,.bubble_2{
    animation-name: beat;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 50px;
    height: 50px;
}

.bubble_1{
    position: relative;
    background-color:#f44336 ;
    top: 145px;
    left: 1050px;
    border-radius: 50%;
}

.bubble_2{
    position: relative;
    background-color: #4284f5;
    top: 155px;
    left: 350px;
    border-radius: 0px;
}

@keyframes beat{
    0%{
        transform: scale(0.9);
        border-radius: 50%;
    }

    100%{
        transform: scale(1.5);
        border-radius: 0%;
    }
}

.bubble_3,.bubble_4{
    animation-name: small;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.bubble_3{
    background-color: #0F9d58;
    width: 30px;
    height: 30px;
    position: relative;
    left: 200px;
    animation-duration: 3s;
    border-radius: 50%;
}

.bubble_4{
    border-radius: 50%;
    background-color:#f4b400 ;
    width: 10px;
    height: 10px;
    opacity: 0.5;
    position: relative;
    top: 200px;
    left: 1000px;
    animation-duration: 2s;
}

@keyframes small{
    0%{
       transform: translateX(0); 
    }
    
    25%{
        transform: translateY(10px);
    }

    50%{
        transform: translateX(30px);
    }

    100%{
        transform: translateX(50px);
    }
}

/* ここからformタグ */

form{
    position: absolute;
    max-width: 420px;
    margin: 50px auto;
    left: 500px;
}

.feedback{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid steelblue;
    transition-property: all 0.3px;
    padding: 13px;
    margin-bottom:15px ;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

textarea{
    height: 150px;
    line-height: 150%;
}

#button{
    font-family: sans-serif;
    background-color: steelblue;
    width: 100%;
    border-radius: 5px;
    border: 0;
    color:white ;
    font-size: 24px;
    padding: 10px 0;
    transition-property: all;
    transition-duration: 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

#button:hover{
    background-color: rgb(45, 104, 153);
}