body{
    margin: 0px;
    background-image: url(../imgs/background-image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.course-wrapper{
    padding: 10px 0px 150px 0px;
    background-color: black;
    animation-name: black;
    animation-timing-function: linear;
    animation-delay: 1600ms;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: unset;
    animation-direction: normal;
    animation-play-state: running;

}

@keyframes black{
    from{
        background-color: black;
    }

    to{
        background-color: transparent;
    }
}

.course-wrapper h2{
    z-index: 3;
    color: white;
    font-family: serif;
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 180px;
    animation-name: move;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}

.course-wrapper p{
    z-index: 3;
    color: white;
    font-family: serif;
    text-align: center;
    text-shadow: 1px 2px 3px lightgray;
    font-weight: 600;
    font-size: 40px;
    position: relative;
    top: 110px;
    animation-name: move;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}

@keyframes move{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.course-wrapper img{
    z-index: 3;
    position: relative;
    top: 150px;
    left: 410px;
    width: 600px;
    animation-name: move2;
    animation-delay: 300ms;
    animation-duration: 300ms;
    animation-fill-mode: backwards;
}

@keyframes move2{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* ここからcareer-wrapper */

.career-wrapper,.career-wrapper2{
    padding: 150px 0;
    border: 1px solid steelblue;
}

.career-wrapper,.career-wrapper2{
    background-color: white;
}

.career-wrapper h2,.career-wrapper2 h2,.career-wrapper p,.career-wrapper2 p{
    text-align: center;
    font-family: Yumincho;
    color: black;
    text-shadow: 1px 2px 3px lightgray;
    letter-spacing: 10px;
    transition-property: all;
    transition-duration: 300ms;
    transition-delay: 0;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.career-wrapper h2,.career-wrapper2 h2{
    font-size: 40px;

}

.career-wrapper p,.career-wrapper2 p{
    padding: 30px 0 0 0;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.career img{
    width: 400px;
    height: 300px;
    border-radius: 15px;
    border: 0.8px solid steelblue;
}

.language1 img,.language2 img{
    width: 100px;
}

.language2 img{
    margin: 0 20px 0 20px;
}