.top-wrapper{
    background-image: linear-gradient(rgba(-415, -212, -191, 0.7), rgba(-75, -122, -122, 0.7)), url(../imgs/prograimmer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 300px 0px 200px 0px;
    width: 100%;
    text-align: center;
}

.top-wrapper h1{
    animation-name: vision;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: none;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-play-state: running;
    color: aliceblue;
    
}

@keyframes vision {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.course{
    font-weight: bolder;
}

.detail{
    position: relative;
    top: 100px;
    border-radius: 30px;
    color: #fff;
    width: 100px;
    padding: 15px 40px 15px 40px;
    background-color: steelblue;
    transition-property:all ;
    transition-duration: 320ms;
    transition-delay: 0ms;
    transition-timing-function: ease-out;
}

.detail:hover {
    background-color: white;
    border: 0.8px solid steelblue;
    color: steelblue;

}

/* ここからcareer-wrapperです */

.career-wrapper,.news-wrapper,.jd-wrapper{
    border-bottom: 1px solid steelblue;
    padding: 150px 0px 150px 0px;
}

.career-wrapper h2,.news-wrapper h2,.jd-wrapper h2,.jd-wrapper p {
    text-align: center;
    font-family: Yumincho;
    font-size: 40px;
    letter-spacing: 10px;
    color: black;
    text-shadow: 1px 2px 3px lightgray;
    transition-property: all;
    transition-duration: 300ms;
    transition-delay: 0ms;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

}

.career-wrapper h2:hover,.news-wrapper h2:hover,.news_list h3:hover,.jd-wrapper h2:hover,.jd-wrapper p{
    text-shadow: 4px 5px 6px lightgray;
}


.container{
    display: flex;
    justify-content: space-around;
}

.career img{
    width: 400px;
    height: 300px;
    border: 0.8px solid steelblue;
    border-radius: 15px;
    transition-property: all;
    transition-duration: 320ms;
    transition-delay: 0ms;
    transition-timing-function: ease-out;
}

.career img:hover{
    opacity: 0.8;
}

.career p {

    text-align: center;
    font-family: Yumincho;
    font-size: 20px;
    letter-spacing: 10px;
    color: black;
    text-shadow: 1px 2px 3px lightgray;
    transition-property: all;
    transition-duration: 300ms;
    transition-delay: 0ms;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

}



/* ここからnews-wrapper */

.news_list a:visited {
    color: lightgray;

}

.news_list h3{
    transition-property: all;
    transition-delay: 0ms;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

}

.news_list li{
    text-align: center;
    max-width: 750px;
    display: flex;
    align-items: center;
    margin: 10px 0px 45px 0px;
}

time{
    margin-right: 20px;
    font-size: 13px;
    color: #999;
    line-height: 1.9;
}

.kind{
    display: inline-block;
    width: 100px;
    margin-right: 20px;
    padding: 3px 0;
    line-height: 1.5;
    background-color: #555;
    color: #fff;
    font-size: 11px;
    text-align: center;
}

.news_old{
    text-align: center;
}

.news_old a{
    position: relative;
    border-radius: 30px ;
    color: #fff;
    padding: 15px 40px;
    content: '';
    font-weight: bold;
}

.news_old a::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #555;
    opacity: 1;
    z-index: -1;
    transition: transform 0.8s;
    border-radius: 30px;
}

.gray{
    border: solid 1px #555;
}

.gray::before{
    background-color: #555;
}

.news_old a:hover::before{
    transform: translate(6px, -6px);
    opacity: 0.8;
}

/* ここからjd-wrapper */

.jd-topics{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 120px 0;
}

.jd-topics img{
    width: 200px;
    height: auto;
}

.topic{
    transition-property: all;
    transition-duration: 320ms;
    transition-delay: 0ms;
    transition-timing-function: ease-out;
}

.topic:hover{
    opacity: 0.8;
}

.clients_image_container{
    display: flex;
    width: 100%;
    overflow: hidden;

}

.clients_image{
    width: auto;
    height: 80px;
}

.clients_image:first-child{
    animation-name: loop;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-delay: -25s;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-direction: normal;
    animation-play-state: running;
}

@keyframes loop{
    from{
        transform: translate(100%);
    }

    to{
        transform: translate(-100%);
    }

}


.clients_image:last-child{
    animation-name: loop2;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-direction: normal;
    animation-play-state: running;
}

@keyframes loop2{
    from{
        transform: translate(0);
    }

    to{
        transform: translate(-200%);
    }

}